---
layout: default
---
<header>
  <h1>{{ site.title }}</h1>
  {% if site.theme_config.show_description %}
    <p>{{ site.description }}</p>
  {% endif %}
</header>



{{ content }}



	<!--<h2>Make Panzer Great Again!</h2>-->
	<p>We make world's best 1/6 scale metal RC tank models.</p>
	<h3>1/6 scale full metal RC tanks</h3>
		<div class="row">
			<div class="col">
				<a href="tigeri.html">
					<img src="assets/thumbnails/tiger1.jpg">
					<h4>1/6 Tiger I</h4>
				</a>
				<p>10000 USD</p>
			</div>
			<div class="col">
				<a href="tigerii.html">
					<img src="assets/thumbnails/tigerii.jpg">
					<h4>1/6 King Tiger</h4>
				</a>
			</div>
			<div class="col">
				<a href="pantherg">
					<img src="assets/thumbnails/pantherg.jpg">
					<h4>1/6 Panther G</h4>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<a href="panzeriii.html">
					<img src="assets/thumbnails/panzeriii.jpg">
					<h4>1/6 Panzer III</h4>
				</a>
			</div>
			<div class="col">
				<a href="luchs.html">
					<img src="assets/thumbnails/luchs.jpg">
					<h4>1/6 Luchs</h4>
				</a>
			</div>
			<div class="col">
				<a href="leopard2.html">
					<img src="assets/thumbnails/leopard2.jpg">
					<h4>1/6 Leopard 2</h4>
				</a>
			</div>
		</div>

<h3>1/6 scale tracklinks</h3>
<p>Track links, the most important part of a tank. And the first part we make when we start a 1/6 scale RC tank project.</p>
	<div class="row">
	
		<div class="col">

				<img src="assets/thumbnails/tltigeri.jpg">
				<a href="#"><h4>Tiger I</h4></a>

		</div>
		<div class="col">
			<a href="tracklinks/tigerii-late.html">
				<img src="assets/thumbnails/tltigerii.jpg">
				<h4>Tiger II late term</h4>
			</a>

		</div>
		<div class="col">
			<img src="assets/thumbnails/tlpziii.jpg">
				<a href="tracklinks/panzeriii.html"><h4>Panzer III</h4></a>
		</div>
		<div class="col">

				<img src="assets/thumbnails/tlluchs.jpg">
				<a href="#"><h4>Luchs</h4></a>

		</div>
		
	</div>

	<h3>1/6 scale accessories</h3>
	
	<div class="row">
		<div class="col">
			<a href="accessories/clampa.html">
				<img src="assets/thumbnails/clampsa.jpg">
				<h4>Clamp type A</h4>
			</a>
		</div>
		<div class="col">
			<a href="accessories/clampb.html">
				<img src="assets/thumbnails/clampsb.jpg">
				<h4>Clamp type A</h4>
			</a>
		</div>
		<div class="col">
			<a href="accessories/shook.html">
				<img src="assets/thumbnails/shook.jpg">
				<h4>S hook</h4>
			</a>
		</div>
		<div class="col">
			<a href="#">
				<img src="assets/thumbnails/ctow.jpg">
				<h4>C tow</h4>
			</a>
		</div>
		<div class="col">
			<a href="#">
				<img src="assets/thumbnails/periscope.jpg">
				<h4>periscope</h4>
			</a>
		</div>
		<div class="col">
			<a href="accessories/wingnut.html">
				<img src="assets/thumbnails/wingnut.jpg">
				<h4>wingnut</h4>
			</a>
		</div>
	</div><!-- row -->
	<div>
		<div class="col">
			<a href="#"></a>
		</div>
	</div><!-- row -->
	
	
	<div class="row"></div>

	
	
	<h3>Contact</h3>
	
	<p>Facebook page: <a href="https://www.facebook.com/fmprctank/">@fmprctank</a></p>
	<p>Instagram: <a href="https://www.instagram.com/fmprctank/">@fmprctank</a></p>
	<p>Youtube: <a href="https://www.youtube.com/channel/UCXU0cewmGfz33m-Wph8CdSQ">Full Metal Panzer! RC tank youtube channel</a></p>
	<p>Twitter: <a href="https://twitter.com/fmprctank">@fmpRCtank</a></p>
	<p>whatsapp</p>
	<p>wechat（微信）: metaltc</p>
	<p>E-mail: </p>
	
	<div class="row">
		<div class="col">
			<img src='assets/indexTiger.jpg'>
		</div>
		<div class="col">
			<img src='assets/studio.jpg'>
		</div>
	</div>
	<div class="row">
		<p>We are a small studio located in Wuxi, a small city 100 miles away from Shanghai.</p>
	</div>
	


	<h3>other language</h3>
	<p><a href="germany.html">Germany</a></p>
	<p><a href="chinese.html">中文</a></p>








<!-- {% include menu_item.html collection=site.data.menu.entries %} -->